# variables

In [1]:
price=234

In [2]:
print(price)

234

In [3]:
price=600

In [4]:
print(price)

600

In [5]:
x=y = z=200

In [6]:
print(x,y,z)

200 200 200

# valid variables

In [8]:
stock='aapl'

In [9]:
_name='aapl'

In [10]:
Stock='aapl'

In [11]:
stock_price=987

In [13]:
stock_1=6789

In [14]:
Stock_name_2='AApl'

In [15]:
STOCK='aapl'

In [16]:
stock='aapl'

In [17]:
Stock='AApl'

In [18]:
age=67

In [19]:
stockname="aapl"

In [21]:
stock_name="aapl"

In [22]:
Stock_name='AAPL'

# data types

 integer float string boolean

# Integer

In [23]:
total_ouput_of_dice_roll=6

In [24]:
days_elapsed=30

In [25]:
total_months=12
year=2020

# float

In [26]:
stock_price=224.61

In [27]:
height=6.2

In [28]:
weight=66.77

In [30]:
x=2

In [31]:
y=10.99

In [32]:
print(x+y)

12.99

In [33]:
print(x-y)

-8.99

In [34]:
print(x*y)

21.98

In [35]:
print(x/y)

0.18198362147406733

In [36]:
print(x%y)

2.0

In [37]:
print(x**y)

2033.8534306550498

# string

In [47]:
string='1% can also be expressed as 0.01'

In [48]:
string

'1% can also be expressed as 0.01'

In [49]:
stock_price='234'

In [50]:
stock_price

'234'

In [51]:
'price of aapl is '+stock_price

'price of aapl is 234'

+ operator used to append only string data type

In [53]:
stock_price=234

In [54]:
'price of aapl is '+stock_price

TypeError: can only concatenate str (not "int") to str

In [59]:
string='Python! '

In [60]:
string * 4

'Python! Python! Python! Python! '

In [ ]:
string

# operation on string

In [3]:
s="Hello"

In [4]:
s.lower()

'hello'

In [5]:
s.upper()

'HELLO'

In [8]:
s="hi this is string...    "

In [9]:
# removes whitespaces at the end


s.strip()

'hi this is string...'

In [11]:
# return True if all letters are string
s="hello"

s.isalpha()

True

In [12]:
s.isdigit()

False

In [13]:
s="1234"
s.isdigit()

True

In [14]:
s.startswith("e")

False

In [15]:
s

'1234'

In [16]:
s.startswith("1")

True

In [17]:
s.endswith("4")

True

In [18]:
s="this is string"

In [19]:
s.find("is")

2

In [20]:
# gives location or index of first occurance of s in a string 

s.find("s")

3

In [21]:
# we donot have z in a string

s.find('z')

-1

In [22]:
# replace second with first


"this is hii".replace("hii","str")

'this is str'

In [23]:
"10 01 11 00 101".replace("1","0")

'00 00 00 00 000'

In [24]:
"01 00 101 010 111".replace("0","1")

'11 11 111 111 111'

In [25]:
# split the string


"this is what i am doing".split()

['this', 'is', 'what', 'i', 'am', 'doing']

In [26]:
s="abc abcd abcde abc ab"

In [28]:
s.index("cd")

6

In [1]:
s="python is amazing"

In [2]:
s.capitalize()

'Python is amazing'

In [3]:
"hello world".capitalize()

'Hello world'

In [6]:
s

'python is amazing'

In [7]:
s.count('o')

1

In [8]:
s.count('a')

2

# 3.2.6 type()  function

In [9]:
type('python')

str

In [10]:
type(34.56)

float

In [11]:
type(90)

int

In [13]:
type(True)

bool

In [14]:
type('True')

str

In [15]:
type('90')

str

In [16]:
type(90)

int

In [18]:
type([1,2,3])

list

In [19]:
type({'k1':12})

dict

In [20]:
type((1,'a','b'))

tuple

In [21]:
type({1,1,2,3,})

set

# 3.3 Type conversion

In [22]:
8/4  # implicitly conversion

2.0

In [23]:
'this is not working'+234

TypeError: can only concatenate str (not "int") to str

In [24]:
# explicitly conversion

In [26]:
"this is working now "+str(234)

'this is working now 234'

In [27]:
"this is working ? "+'234'

'this is working ? 234'

In [28]:
# integer to float conversion

float(8)

8.0

In [29]:
# string to float

float('23')

23.0

In [30]:
# float to integer

int(98.78)

98

In [31]:
# string to int

int('23')

23

In [33]:
int('9.0')

ValueError: invalid literal for int() with base 10: '9.0'

In [34]:
# float to string

str(98.78)

'98.78'

In [35]:
# intger to string

str('234')

'234'

In [36]:
# boolean to integer

int(True)

1

In [37]:
int(False)

0

In [38]:
# integer to boolean

bool(23)

True

In [39]:
bool(0)

False

In [40]:
bool(-90)

True

# boolean

In [38]:
buy=True

In [39]:
print(buy)

True

In [40]:
sell=False

In [41]:
print(sell)

False

In [42]:
2==2

True

In [43]:
3==4

False

In [45]:
1>4

False

In [46]:
1>-1

True